.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  //   width: 200px;
  img {
    width: 100%;
  }
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.site-layout-background {
  min-height: calc(100vh - 130px);
  padding: 24px;
}

.ant-layout-sider {
  position: relative;
  min-width: 0;
  background: #fafafa;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 0.2px 0px 3px 0px #bfbfbf;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #39b54a;
}

.ant-menu-dark .ant-menu-item-selected .anticon + span {
  color: #fff;
}
.ant-menu-item span {
  color: #000;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background: #fafafa;
}
.ant-layout-footer {
  padding: 10px 50px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  background: #f0f2f5;
}
.ant-menu-dark .ant-menu-submenu-title,
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
  color: #000;
  background-color: transparent;
}
.ant-menu-dark
  .ant-menu-submenu-title:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow,
.ant-menu-dark
  .ant-menu-item:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-item-active
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-title:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-item:hover
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-item-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-submenu-title:hover
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::after,
.ant-menu-dark
  .ant-menu-item:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-item-active
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-title:hover
  > .ant-menu-submenu-title
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-item:hover
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-item-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-active
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-open
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before,
.ant-menu-dark
  .ant-menu-submenu-title:hover
  > .ant-menu-submenu-title:hover
  > .ant-menu-submenu-arrow::before {
  background: rgba(0, 0, 0, 0.85);
}
.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item > a,
.ant-menu-dark .ant-menu-item > span > a {
  color: #000;
}
